.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolumner */
  grid-auto-rows: 200px;                /* varje rad 200px hög */
  gap: 15px;                             /* avstånd mellan bilder */
  max-width: 900px;                       /* grid tar max 900px bredd */
  margin: 0 auto;
  padding: 55px;                        /* centrerar grid på sidan */
 
}

.gallery img {
  width: 100%;
  height: 100%;               /* fyller cellen */
  object-fit: cover;          /* behåller proportioner och fyller rutan */
  border-radius: 12px;
  transition: transform 0.4s;

}

.gallery img:hover {
  transform: scale(1.5);     
}

.about-me {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 1500px; /* bättre, centrerat, läsbart */
  margin: 0 auto;
  padding: 60px 20px;
  font-size: larger;
}

.about-text {
   flex: 0 0 45%;
    
    line-height: 3.4;
    
}

.about-text h1 {
    margin-bottom: 20px;
}

.about-text p {
    line-height: 2.8;
    font-size: larger;
}



