
.about-me {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 1000px;
  font-size: 1.1rem;
}


.about-text {
  width: 100%;
  text-align: center;
  line-height: 1.8;
}

.about-text h2 {
  margin-bottom: 20px;
}

.about-text p {
  line-height: 1.8;
  font-size: 1.1rem;
}


.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
  gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.4s;
}

.gallery img:hover {
  transform: scale(1.05); 
}


@media (min-width: 600px) {
  .about-me {
    flex-direction: column; 
    align-items: center;
    padding: 50px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr); 
    max-width: 800px;
  }
}


@media (min-width: 900px) {
  .about-me {
    flex-direction: row; 
    align-items: flex-start;
    gap: 40px;
    max-width: 1500px;
    padding: 60px 20px;
    font-size: larger;
  }

  .about-text {
  flex: 0 0 45%;
  text-align: left;
  line-height: 2.4;
  letter-spacing: 1.5px; 
  font-size: x-large;
  
  
}
.about-text p {
  font-size: 1.8rem;      
  line-height: 2.8;       
  
  
}


  .gallery {
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 200px;
    gap: 15px;
    max-width: 900px;
    padding: 55px;
  }

  .gallery img:hover {
    transform: scale(1.3); 
  }
}
